// ==========================================================================
// #Base Fonts
// ==========================================================================
//
//
//  - Twitter Chirp
//
//

 
// # Fonts: Twitter Chirp
// ==========================================================================
@font-face {
    font-family: TwitterChirp;
    src: url("./../../public/fonts/TwitterChirp/chirp-heavy-web.woff") format('woff');
    font-weight: 900;
    font-style: extrabold;
}

@font-face {
    font-family: TwitterChirp;
    src: url("./../../public/fonts/TwitterChirp/chirp-bold-web.woff") format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: TwitterChirp;
    src: url("./../../public/fonts/TwitterChirp/chirp-regular-web.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

.fontFamily-twitterChirp {
    font-family: TwitterChirp;
}

.fontFamily-system {
    font-family: Arial, Helvetica, sans-serif;
}