// ==========================================================================
// #Base: Themes
// ==========================================================================
//
//  Table of Content
//  - Main Site Theme
//  - Twitter Theme
//
//


// Main Site Theme
// ==========================================================================

:root{
    --color-bg-base: 255, 255, 255;
    // --brand-color: blue;
    // --color-text-base: red;
    // --color-text-muted: red;
    // --color-background: black;
    // --color-bg-base: 255, 255, 255;
}


.theme-main-light {

}
.theme-main-dark {

}

// Twitter Theme
// ==========================================================================
.theme-twitter-default {
    --color-bg-base: 255, 255, 255;
    --color-text-leading: 0, 0, 0,;
    --color-text-base: 15, 20, 25;
    --color-text-muted: 83, 100, 113;
}
.theme-twitter-dim {
    --color-bg-base: 21, 32, 43;
    --color-text-leading: ;
    --color-text-base: 247, 249, 249;
    --color-text-muted: 139, 152, 165;
}
.theme-twitter-lights-out {
    --color-bg-base: 0, 0, 0;
    --color-text-leading: ;
    --color-text-base: 231, 233, 234;
    --color-text-muted: 113, 118, 123;
}

// Twitter Main Colors
// ==========================================================================

.theme-twitter-primary-1 {
    --color-accent: 29, 155, 240;
}

.theme-twitter-primary-2 {
    --color-accent: 255, 212, 0;
}

.theme-twitter-primary-3 {
    --color-accent: 249, 24, 128;
}

.theme-twitter-primary-4 {
    --color-accent: 120, 86, 255;
}

.theme-twitter-primary-5 {
    --color-accent: 255, 122, 0;
}

.theme-twitter-primary-6 {
    --color-accent: 0, 186, 124;
}

 


//     --color-text-inverted: 79, 70, 229;
//     --color-fill: 67, 56, 202;
//     --color-button-accent: 255, 255, 255;
//     --color-button-accent-hover: 238, 242, 255;
//     --color-button-muted: 99, 102, 241;
//   }