// ==========================================================================
// #Base: Themes
// ==========================================================================


 
    :root{
        --color-bg-base: 255, 255, 255;
        // --brand-color: blue;
        // --color-text-base: red;
        // --color-text-muted: red;
        // --color-background: black;
        // --color-bg-base: 255, 255, 255;
    }

    .theme-main-light {

    }
    .theme-main-dark {

    }

    .theme-twitter-default {
        --color-bg-base: 255, 255, 255;
    }
    .theme-twitter-dim {
        --color-bg-base: 21, 32, 43;
    }
    .theme-twitter-lights-out {
        --color-bg-base: 0, 0, 0;
    }


// :root {
//     --color-text-base: 255, 255, 255;
//     --color-text-muted: 199, 210, 254;
//     --color-text-inverted: 79, 70, 229;
//     --color-fill: 67, 56, 202;
//     --color-button-accent: 255, 255, 255;
//     --color-button-accent-hover: 238, 242, 255;
//     --color-button-muted: 99, 102, 241;
//   }